/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr auto;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main";
}

/* HEADER */
header {
    grid-area: header;
}


/* SIDEBAR */
.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: #1992D4;
    color: white;
}

.logo {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
}

.dashlogo {
    padding: 2px;
}

a {
    text-decoration: none;
    color: white;
}

.icons {
    margin: 5% 10%;
}

.icons li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icons li .icon {
    list-style: none;
    text-decoration: none;
}

.icons li .material-icons {
    margin-right: 10px;
}

/* CONTENT */
.content {
    grid-area: main;
    background-color: #E2E8F0;
}

.projects {
    display: flex;
    justify-content: space-around;
}
